@font-face {
    font-family: 'TreasureMap';
    src: url('./TreasureMapDeadhand-yLA3.ttf');
}

* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

.logo {
    width: 25vh;
    max-width: 150px;
    height: auto;
    margin: 0 120px 0 98px ;
}

.navBit {
    width: 200px;
    height: auto;
    margin: 0 30px 0 15px ;
    padding: 5px;
}

#log {
    white-space: nowrap;
    overflow: visible;
}

body {
    box-sizing: border-box;
    background-image: url('/images/paper.jpg');
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: serif;
}

a {
    color: rgb(130, 202, 250);
}

a:hover {
    color: rgb(79, 247, 250);
}

h1, h2, h3 {
    margin: 0 10vw 20px 10vw;
    font-family: 'TreasureMap';
    font-size: calc(20px + 3vw);
}

h1 {
    font-size: calc(25px + 5vw);
}

button {
    margin: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%
}

.frow {
    margin: 0 0 15px 0;
}

.group {
    margin: 0 0px 0 0px;
}

.text {
    margin: 0 10vw 20px 10vw;
    font-size: calc(10px + 1vw);
    text-align: left;
}

.fleet {
    background: lightblue url("https://i.gifer.com/RowJ.gif") no-repeat;
    background-size: 100vw 220%;
    background-position: 50% 85%;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 5px 0 2.5vw 0;
}

.ship {
    background: url("https://media.giphy.com/media/j2HThVbydxrvyljqq0/giphy.gif") no-repeat;
    background-size: 100px 100px;
    background-position: 50% 60%;
    /*width: 30vw;
    height: auto;*/
}

.title {
    background-color: white;
    padding: 4px 6px 4px 6px;
    border-radius: 7px;
    margin-top: 0px;
    color: black;
    border: 1px outset lavender;
}

.seaBtn {
    background-color: transparent;
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

form {
    margin: 0 0 60px 0;
    width: 25vw;
}

footer {
    background-image: linear-gradient(#000080, black);
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 5px 0 0px 0;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top: 2px solid #5a5a5a;
}